<div style="margin: 0 0 30px; text-align:left;">
  <h1 style="margin: 0; background-color: #492e87; color: #fff; font-weight: normal; padding: 20px 35px;">Forgot Password?</h1>
</div>
<div style="text-align: left; padding: 0 35px;">
  <p>
    Hi <span style="font-weight:bold"><%= @resource.first_name %></span>,
  </p>
  <p>
    Did you forgot your crowdstaffing password? Not to worry, we all do time to time.
  </p>
  <div style="margin: 20px 0; text-align: center;"><a href='<%= "#{@user.front_end_host}#/reset-password?reset_password_token=#{@token}" %>' target="_blank" style="display: inline-block; color: #fff; background-color: #492e87; border-radius: 6px; padding: 12px 24px; text-decoration: none;">Reset Password</a></div>
  <br />
  If you are unable to direct to the page please copy paste the following link into your browser address bar.
  <br />
  <%= "#{@user.front_end_host}#/reset-password?reset_password_token=#{@token}" %>
  <hr style="border: 0; border-top: 1px solid #e1e2e3; margin: 30px 0 20px;">
  <p>Thanks,</p>
  <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse; border-spacing: 0; margin: 30px 0 0; padding: 0; width: 100%; text-align: left;">
    <tr>
      <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; text-align: left;">
        <img src="https://marketing-image-production.s3.amazonaws.com/uploads/53bea6d27b3a1aaa3cfd28545be926daf68c8382bfe4a7d9f9c21498ed4aebd96d3417173c49a512155e22fd69766ac886d8e419796cb04e9c7d1d9895b50f41.jpg" style="background-color: #BEBEBE; border-radius: 50%; display: inline-block; width: 66px; height: 66px; overflow: hidden">
      </td>
      <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0 0 0 16px; text-align: left; font-size: 14px; line-height: 19px;">
        <div style="margin-bottom: 4px;"><b>Crowdstaffing Team</b></div>
        <div>Crowdstaffing</div>
        <div>P:&nbsp;+1-844-467-2300 | E:&nbsp;<a href="mailto:support@crowdstaffing.com" target="_blank" style='color: black !important;text-decoration: none;'>support@crowdstaffing.com</a> | W:&nbsp;<a href="https://www.crowdstaffing.com" target="_blank" style='color: black !important;text-decoration: none;'>Crowdstaffing.com</a></div>
      </td>
    </tr>
  </table>
</div>
